<div id="<%= dom_id relax_sound %>">
  <p>
    <strong>Category:</strong>
    <%= relax_sound.relax_sound_category_id %>
  </p>

  <p>
    <strong>Relax sound author:</strong>
    <%= relax_sound.relax_sound_author_id %>
  </p>

  <p>
    <strong>Icon:</strong>
    <%= relax_sound.icon %>
  </p>

  <p>
    <strong>License:</strong>
    <%= relax_sound.license %>
  </p>

  <p>
    <strong>Color of day:</strong>
    <%= relax_sound.color_of_day %>
  </p>

  <p>
    <strong>Downloadable url:</strong>
    <%= relax_sound.downloadable_url %>
  </p>

  <p>
    <strong>Active:</strong>
    <%= relax_sound.active %>
  </p>

</div>
